.footer-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -400px;
  height: 100%;

  width: 400px;
  background: #fff;
  z-index: 1000;
  padding: 50px 20px 40px 70px;
  transition: .4s ease-in-out right;

  &__logo {
    width: 89px;
    height: 77px;
    background: url(../img/logo.png) center/contain no-repeat;
    margin-bottom: 13px;
  }
  &__title {
    font-family: 'SFProText';
    line-height: 1.2;
    font-weight: 500;
    font-size: 17px;
    color: #575B5F;
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 50px;
    p {
      font-family: 'SFProText';
      font-size: 14px;
      line-height: 1.45;
      color: #575B5F;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__nav {
    li {
      margin-bottom: 3px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    a {
      font-family: 'SFProText';
      font-weight: 500;
      font-size: 16px;
      color: #013066;
      transition: .2s ease-in-out opacity;
      &:hover {
        opacity: .75;
      }
    }
  }
  .fancybox-close-small {
    display: block;
    cursor: pointer;
    z-index: 50;
    width: 35px;
    height: 35px;
    top: 25px;
    right: 40px;
    border-radius: 50%;
    border: 2px solid #013066;
    transition: .3s ease-in-out transform, .3s ease-in-out opacity;
    &:after, &:before {
      border-radius: 2px;
      outline: none;
      content: '';
      width: 16px;
      height: 2px;
      background: #013066;;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: .3s ease-in-out background;
    }
    &:before {
      width: 2px;
      height: 16px;
    }
    &:hover {
      transform: scale(1.1);
      opacity: .8;
      //border-color:  #545454;
      &:after, &:before {

        //background: #545454;
      }
    }
  }
}

.footer-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(1, 48, 102, 0.5);
  z-index: 950;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out all;
  &.vis {
    opacity: 1;
    visibility: visible;
    .footer-modal {
      right: 0;
    }
  }
}

@media (max-width: $md) {
  .footer-modal {
    width: 100%;
    right: -100%;
    padding: 20px 10px 20px 20px;
    &__title {
      margin-bottom: 30px;
    }
    &__text {
      margin-bottom: 40px;
      p{
        margin-bottom: 15px;
      }
    }

  }
}